pydantic[email]==2.6.0
pytest==8.2.0
pytest-harvest==1.4.0
python-dateutil==2.8.2
requests==2.31.0
beautifulsoup4==4.12.3
spacy==3.7.2
langgraph==0.0.30
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-google-genai==0.0.9
duckduckgo-search==5.3.1b1
python-jobspy==1.1.82
pytest-asyncio==0.23.7
praw==7.7.1
pdfplumber==0.11.0
